<div id="logo">
  <img src="health-scholars-horizontal-white@2x.png" width="116" height="48" />
</div>
<div id="intro">
  <p>Thank you for participating in <em>Voice Intelligence</em> training for our ACLS VR application. Imagine that you are the team leader of a resuscitation or rapid response scenario as you request managements or provide responses listed below. Please speak naturally, and use the team member's name when listed. Include joules, doses and route if you would normally do so, otherwise just omit. The goal is to capture the way that <strong>you</strong> would naturally speak in the various scenarios. Thanks! </p>
  <p>- Health Scholars Team</p>

</div>

<div id="requests">
  <p>Ask [Name] to administer Adenosine 6 mg to a patient in SVT</p>
  <div id="recording_button">
    <iframe src="https://www.speakpipe.com/widget/inline/g8ma3tvul1i30hs8fx6eahe7athb7q3r" allow="microphone" width="100%" height="200" frameborder="0" id="recording_button_iframe"></iframe>
  </div>


  <p>Ask [Name] to follow up with Adenosine 12 mg because the 1st dose did not break the SVT</p>
  <div id="recording_button">
    <iframe src="https://www.speakpipe.com/widget/inline/jh89atg6fisqq384bqdb88917gko4xas" allow="microphone" width="100%" height="200" frameborder="0" id="recording_button_iframe"></iframe>

  </div>


  <p>Ask [Name] to administer Amiodarone 300mg IVP for a patient in cardiac arrest</p>
  <div id="recording_button">
    <iframe src="https://www.speakpipe.com/widget/inline/i4x7oulkt0xwtqad07aeiyhel1vtfqj2" allow="microphone" width="100%" height="200" frameborder="0" id="recording_button_iframe"></iframe>

  </div>


  <p>Ask [Name] to administer Amiodarone 150 mg as an infusion for a patient with stable ventricular tachycardia</p>
  <div id="recording_button">
    <iframe src="https://www.speakpipe.com/widget/inline/husgzvjnn5opy1tvfmryhpwkd8erusv2" allow="microphone" width="100%" height="200" frameborder="0" id="recording_button_iframe"></iframe>

  </div>


  <p>Ask [Name] to administer Atropine .5 mg for a patient who is bradycardia and hypotensive</p>
  <div id="recording_button">
    <iframe src="https://www.speakpipe.com/widget/inline/ucvo24w4zrz9qnr5rryunfbzcw6f5z4b" allow="microphone" width="100%" height="200" frameborder="0" id="recording_button_iframe"></iframe>

  </div>


  <p>Ask [Name] to administer a Benzodiazepine (the one that you are most comfortable with) for sedation prior to electrical cardio version</p>
  <div id="recording_button">
    <iframe src="https://www.speakpipe.com/widget/inline/krva8hjwqknu2zyn31k22lculcv8ig22" allow="microphone" width="100%" height="200" frameborder="0" id="recording_button_iframe"></iframe>

  </div>


  <p>Ask [Name] to initiate a Dopamine drip for a patient who is bradycardia and hypotensive</p>
  <div id="recording_button">
    <iframe src="https://www.speakpipe.com/widget/inline/usvvnzuf54kiphh617hiygnyja20vaqw" allow="microphone" width="100%" height="200" frameborder="0" id="recording_button_iframe"></iframe>

  </div>


  <p>Ask [Name] to administer Epinephrine to a patient in cardiac arrest</p>
  <div id="recording_button">
    <iframe src="https://www.speakpipe.com/widget/inline/vfww10plbi7r5e1yawzp378dbtuw7z5f" allow="microphone" width="100%" height="200" frameborder="0" id="recording_button_iframe"></iframe>

  </div>


  <p>Ask [Name] to initiate an Epinephrine drip for a patient who is bradycardia and hypotensive</p>
  <div id="recording_button">
    <iframe src="https://www.speakpipe.com/widget/inline/mmgi95124zm57p6m83e1cnx8agb1spmn" allow="microphone" width="100%" height="200" frameborder="0" id="recording_button_iframe"></iframe>

  </div>


  <p>Ask [Name] to defibrillate a patient in cardiac arrest with a shockable rhythm</p>
  <div id="recording_button">
    <iframe src="https://www.speakpipe.com/widget/inline/gta7qdjjoupi33xpn9elli2yvwgro0lv" allow="microphone" width="100%" height="200" frameborder="0" id="recording_button_iframe"></iframe>

  </div>


  <p>[Name] is the RN managing the defibrillator</p>
  <p>[Name] is the medication RN</p>
  <p>Ask [Name] and [Name] to defibrillate and administer Epinephrine to a patient in cardiac arrest with a shockable rhythm</p>
  <div id="recording_button">
    <iframe src="https://www.speakpipe.com/widget/inline/fkoq4crqfo3392pogpv4qpy3tqj1u0yi" allow="microphone" width="100%" height="200" frameborder="0" id="recording_button_iframe"></iframe>

  </div>


  <p>[Name] is the RN managing the defibrillator</p>
  <p>[Name] is the medication RN</p>
  <p>Ask [Name] and [Name] to defibrillate and administer Amiodarone to a patient in cardiac arrest with a shockable rhythm</p>
  <div id="recording_button">
    <iframe src="https://www.speakpipe.com/widget/inline/j1gkbwgtrkgt0nu0ofv2ab20z8ejk2qh" allow="microphone" width="100%" height="200" frameborder="0" id="recording_button_iframe"></iframe>

  </div>


  <p>Ask [Name] to perform Synchronized Cardioversion for a patient with unstable rapid atrial fibrillation</p>
  <div id="recording_button">
    <iframe src="https://www.speakpipe.com/widget/inline/27rnr7knp5ltyu1pdexqlbxdb6efc9ue" allow="microphone" width="100%" height="200" frameborder="0" id="recording_button_iframe"></iframe>

  </div>


  <p>Ask [Name] to initiate Transcutaneous Pacing for a patient who is bradycardia and hypotensive</p>
  <div id="recording_button">
    <iframe src="https://www.speakpipe.com/widget/inline/oqnb6hdaodw2tlirzagw2psq4y0sht0j" allow="microphone" width="100%" height="200" frameborder="0" id="recording_button_iframe"></iframe>

  </div>


</div>